.wrapper {
  display: flex;
  align-items: stretch;
  background-color: $color-light;
}
.mt-40{
  margin-top: 40px;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
#btn{
  display: flex;
}